[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Compton Manager
Name[de]=Compton Manager
Name[el]=Διαχειριστής Compton
Name[es]=Administrador de Compton
Name[fr]=Gestionnaire Compton
Name[id]=Manajer Compton
Name[ja]=Compton マネージャー
Name[pl]=Compton Menadżer
Name[pt_BR]=Gerenciador do Compton
Name[pt_PT]=Gestor do Compton
Name[ru]=Менеджер Compton
Name[sv]=Compton-hanteraren
GenericName=Compton Manager
Comment=Launch, stop or edit Compton Composite Manager
Comment[de]=Compton Composite Manager starten, beenden oder editieren
Comment[el]=Εκκίνηση, τερματισμός και επεξεργασία του Σύνθετου Διαχειριστή Compton
Comment[es]=Lanza, detiene o edita el administrador de Compton Composite
Comment[fr]=Lance, arrête ou édite le gestionnaire Compton Composite
Comment[id]=Luncurkan, hentikan atau edit Composite Manager Compton
Comment[it]=Lancia, ferma o modifica Compton Composite Manager
Comment[ja]=Compton コンポジットマネージャーの起動・停止・編集
Comment[pl]=Uruchom, zatrzymaj lub edytuj zarządcę kompozycji Compton
Comment[pt_BR]=Inicialize, pare ou edite o gerenciador de Composite Compton
Comment[pt_PT]=Iniciar, parar ou editar Gestor de Composísão Compton
Comment[ru]=Запуск, завершение или редактирование композитного менеджера Compton
Comment[sv]=Starta, stoppa eller redigera Compton Komposithanterare
Exec=/usr/bin/sparky-compton
Icon=preferences-desktop-theme
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility;
